/* App.css */

.App {
  text-align: center;
  padding: 15px; /* Add some padding to the overall layout */
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: #595959;
  margin-top: 0.8em; /* Adjust margin for spacing */
}

.user-header-line {
  border-top: 2px solid #474747;
  border-bottom: #474747;
  margin-top: 20px;
  padding-top: 20px;
  background-color: #786F80; /* Set background color */
}

/* Style for InputBox component */
.input-box-container {
  border-top: #474747;
  min-width: 600px;
  margin: 20px auto;
  min-height: 300px;
}

.user-input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: #000000;
  border-top: #474747;
}


.file-upload-line {
  border-top: 2px solid #595959;
  margin-top: 20px;
  padding-top: 20px;
  background-color: #5c4e4e;
}


.file-list-container {
  border-top: 2px solid #595959;
  margin-top: 20px;
  padding-top: 20px;
  background-color: #e0e0e0;
}
