* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open-Sans',sans-serif;
  color: rgb(12, 93, 60);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background-color: #A5A7A7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

