/* InputBox.css */
.input-box-container {
    min-width: 1200px;
    margin: 20 auto;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    
  }
  
  .user-input {
   
    padding: 20px; 
    box-sizing: border-box;
    margin-bottom: 20px; 
  
    font-size: 18px; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
    width: 100%; /* Make the input box full-width */

  }
  h1 {
    color: #363636; 
}
  button {
    margin-top: 20px;
    margin-left: 200px;
    padding: 15px 30px; /* Adjust padding for a larger button size */
    font-size: 18px; /* Changeable font size for the button */
    font-weight: bold; /* Make the button text bold */
  
   
    background-color: #786f80; 
    color: #363636; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }