.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1DB954; /* Spotify Green */
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #1ED760;
}